 * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHBlb3BsZSUyMHdvcmtpbmd8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
  }

  body::before{
    content:" ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  #navbar{
    height: 45px;
    width: 100%;
    background-color: #3524a3;
    position: fixed;
  }
  
  #logo{
    display: inline-block;
    height: 120px;
    margin-top: 0px;
    padding-left: 10px;
  }
  
  .logo{
    /* padding-top: ; */
  }

  .container {
    background-color: #fff;
    border-radius: 150px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    left: 20%;
    top: 25%;
  }
  
  .container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
  }
  
  
  .container span {
    font-size: 12px;
  }
  
  .container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
  }
  .container button {
    background-color: #3524a3;
    color: #fff;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .container button.hidden {
    background-color: transparent;
    border-color: #fff;
  }
  
  .container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
  }
  
  .container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
  }
  
  .sign-up, .sign-in {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  .sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .container.active .sign-in {
    transform: translateX(100%);
  }
  
  .sign-up {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
  }
  
  .container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
  }
  
  @keyframes move {
    0%, 49.99%{
      opacity: 0;
      z-index: 1;
    }
     50%, 100%{
      opacity: 1;
      z-index: 5;
    }
  }
  
  .icons {
    margin: 20px 0;
  }
  
  .icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
  }
  
  .toogle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 150px;
    z-index: 1000;
    transition: all 0.6s ease-in-out;
  }
  
  .container.active .toogle-container {
    transform: translateX(-100%);
    border-radius: 150px;
  }
  
  .toogle {
    background-color: #3524a3;
    height: 100%;
    background: linear-gradient(to right, #3524a3, #3524a3);
    color: #fff;
    position: relative;
    left: -100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
  }
  
  .container.active .toogle {
    transform: translateX(50%);
  }
  
  .toogle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
  }
  
  .toogle-left {
    transform: translateX(-200%);
  }
  
  .container.active .toogle-left {
    transform: translateX(0);
  }
  
  .toogle-right {
    right: 0;
    transform: translateX(0);
  }
  
  .container.active .toogle-right {
    transform: translateX(200%);
  }
  .icon{
    transition-duration: 0.5s;
  }
  .icon:hover{
    background-color: #3524a3;
    cursor: pointer;
    color: white;
  }
  button{
    transition-duration: 0.5s;
  }