body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.room {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    border: 1px solid #ccc; 
    margin: 10px 20px;
    background-color: #fff; 
    border-radius: 5px; 
}

p{
    margin: 10px 20px; 
}
a{
    margin: 10px 20px;
}

#roomDetails{
    margin: 20px 0px 10px 0px;
}

h1{
    margin-left: 20px;
}
.room-info {
    flex-grow: 1;
}

button {
    margin: 0px 0px 20px 20px ; 
    padding: 8px 12px;
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end; 
}

button:hover {
    background-color: #0056b3; 
}

header {
    background-color: #3524a3;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

header h1 {
    margin: 0;
    color: #fff;
}

h1 .highlight {
    color: orange;
}

.hamburger {
    display: block;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

.nav-menu ul li {
    display: block;
    margin: 15px 0;
    text-align: left;
    margin: 20px;
    font-size: larger;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #ffffff;
}

.nav-menu ul li a i {
    margin-right: 10px;
}

.nav-menu {
    display: none;
    background-color: #3524a3c2;
    position: absolute;
    left: 0;
    top: 60px;
    width: 280px;
    height: 100%;
    z-index: 999;
}

.nav-menu.open {
    display: block;
    color: #f0f0f0;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        display: none; 
    }
}

.nav-menu ul li:hover {
    background-color: #3524a3;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
}
